<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @article.unit_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Volver', articles_path %>
