<p id="notice"><%= notice %></p>

<h1>Listing Invoice Headers</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Client</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_headers.each do |invoice_header| %>
      <tr>
        <td><%= invoice_header.seller %></td>
        <td><%= invoice_header.client %></td>
        <td><%= invoice_header.comment %></td>
        <td><%= link_to 'Show', invoice_header %></td>
        <td><%= link_to 'Edit', edit_invoice_header_path(invoice_header) %></td>
        <td><%= link_to 'Destroy', invoice_header, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice header', new_invoice_header_path %>
