<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice header:</strong>
  <%= @invoice_line.invoice_header %>
</p>

<p>
  <strong>Article:</strong>
  <%= @invoice_line.article %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice_line.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @invoice_line.unit_price %>
</p>

<%= link_to 'Edit', edit_invoice_line_path(@invoice_line) %> |
<%= link_to 'Back', invoice_lines_path %>
